<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Featured Items-->
  <app-featured-item></app-featured-item>

  <!--Landing CTAs-->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Serving 30 Restaurants in the LC Valley</ion-card-subtitle>
      <ion-card-title>Restaurants</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Description
    </ion-card-content>
    <ion-button class="ion-margin">Browse Restaurants</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>View Past Orders</ion-card-subtitle>
      <ion-card-title>Order Again</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Description, sale price
    </ion-card-content>
    <ion-button class="ion-margin">Browse Order History</ion-button>
  </ion-card>

</ion-content>
